extends layout
block css-external
  // iCheck
  link(href='/dashboard/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
  // bootstrap-wysiwyg
  link(href='/dashboard/vendors/google-code-prettify/bin/prettify.min.css', rel='stylesheet')
  // Select2
  link(href='/dashboard/vendors/select2/dist/css/select2.min.css', rel='stylesheet')
  // Switchery
  link(href='/dashboard/vendors/switchery/dist/switchery.min.css', rel='stylesheet')
  // starrr
  link(href='/dashboard/vendors/starrr/dist/starrr.css', rel='stylesheet')
  // Dropzone.js
  link(href='/dashboard/vendors/dropzone/dist/min/dropzone.min.css', rel='stylesheet')
  // iCheck
  link(href='/dashboard/vendors/iCheck/skins/flat/green.css', rel='stylesheet')

block content
  p 添加或修改旅行线路
  #wizard.form_wizard.wizard_horizontal
    ul.wizard_steps
      li
        a(href='#step-1')
          span.step_no 1
          span.step_descr
            | 步骤1
            br
            small 线路基本信息
      li
        a(href='#step-2')
          span.step_no 2
          span.step_descr
            | 步骤2
            br
            small 线路详细信息
      li
        a(href='#step-3')
          span.step_no 3
          span.step_descr
            | 步骤3
            br
            small 酒店航班信息
      li
        a(href='#step-4')
          span.step_no 4
          span.step_descr
            | 步骤4
            br
            small 附加信息
    #step-1
      form#basic-info-form.form-horizontal.form-label-left.input-mask
        .form-group
          label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-title')
            | 标题
            span.required *
          .col-md-8.col-sm-8.col-xs-12
            input#package-title.form-control.col-md-7.col-xs-12(type='text', required='required', name='package-title')
        .form-group
          label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-price')
            | 价格
            span.required *
          .col-md-8.col-sm-8.col-xs-12
            input#package-price.form-control.col-md-7.col-xs-12(type='text', required='required', name='package-price')
            span.form-control-feedback.right 元/人
        .form-group
          label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-abstract')
            | 概述
            span.required *
          .col-md-8.col-sm-8.col-xs-12
            textarea#package-abstract.form-control.col-md-12.col-xs-12(name='package-abstract', data-parsley-trigger='keyup', data-parsley-minlength='20', data-parsley-max-length='200', rows='5')
        .form-group
          label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-tags')
            | 标签
          .col-md-8.col-sm-8.col-xs-12
            input#package-tags.tags.form-control(type='text', name='package-tags')
        .form-group
          label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-thumbnails')
            | 缩略图
          .col-md-8.col-sm-8.col-xs-12
            #package-thumbnails.dropzone(action='/image/upload')
    #step-2
      .row
        .col-xs-10.col-xs-offset-1.table-responsive
          table#detail-table.table.table-striped.jambo_table.bulk_action
            thead
              tr.headings
                th
                  input#check-all.flat(type='checkbox')
                th.column-title.a-center 日期
                th.column-title.a-center 标题
                th.column-title.a-center 详情
                th.column-title.a-center 包含
                th.column-title.a-center 缩略图
                th.column-title.no-links.last
                  span.nobr Action
                th.bulk-actions(colspan='7')
                  a.antoo(style='color:#fff; font-weight:500;')
                    | 批量操作 (
                    span.action-cnt
                    |  )
                    i.fa.fa-chevron-down
            tbody
              tr.even.pointer
                td.a-center
                  input.flat(type='checkbox', name='table_records')
                td 第一天
                td 抵达东京
                td 从北京乘坐上午的航班, 经过大约4小时的飞行之后, 我们下午就会到达日本首府 ——东京, 先到酒店CheckIn, 放好行李, 随后前往森美术馆参观后来到52层的观景台, 如果天气条件允许的话, 还有机会可以上屋顶的露天观景台俯瞰东京的城市夜景. 不仅如此, 还可在这层的Mado Lounge点杯小酒, 享受这惬意的氛围.随后回酒店, 好好休息!
                td 森美术馆, 东京夜景
                td
                  img(src='/dashboard/images/img.jpg')
                td.last
                  a(href='#') View
      .row
        .col-xs-12
          form#detail-form.form-horizontal.form-label-left.input-mask
            .form-group
              label.control-label.col-md-3.col-sm-3.col-xs-12(for='schedule-title')
                | 标题
              .col-md-8.col-sm-8.col-xs-12
                input#schedule-title.form-control(type='text', name='schedule-title')
            .form-group
              label.control-label.col-md-3.col-sm-3.col-xs-12(for='schedule-detail')
                | 详情
              .col-md-8.col-sm-8.col-xs-12
                textarea#schedule-detail.form-control(rows='4', name='schedule-detail', data-parsley-trigger='keyup', data-parsley-minlength='60', data-parsley-maxlength='400')
            .form-group
              label.control-label.col-md-3.col-sm-3.col-xs-12(for='schedule-tags')
                | 包含
              .col-md-8.col-sm-8.col-xs-12
                input.tags.form-control(type='text')
            .form-group
              label.control-label.col-md-3.col-sm-3.col-xs-12(for='schedule-thumbnails')
                | 缩略图
              .col-md-8.col-sm-8.col-xs-12
                #schedule-thumbnail.dropzone(action='/image/upload')
            .form-group
              .col-md-9.col-sm-9.col-xs-12.col-md-offset-3
                button#schedule-save-btn.btn.btn-success 保存
    #step-3
      .row
        .col-xs-10.col-xs-offset-1.table-responsive
          table#hotels-table.table.table-striped.jambo_table.bulk-actions
            thead
              tr.headings
                th
                  input#check-all.flat(type='checkbox')
                th.column-title.a-center 酒店名称
                th.column-title.a-center 入住天数
                th.column-title.no-link.last
                  span.nobr 操作
                th.bulk-actions(colspan='3')
                  a.antoo(style='color:#fff; font-weight:500;')
                    | 批量操作 (
                    span.action-cnt
                    | )
                    i.fa.fa-chevron-down
            tbody
              tr.even.pointer
                td.a-center
                  input.flat(type='checkbox', name='table_records')
                td 江户樱花饭店 The Edo Sakura
                td 3天
                td.last
                  a(href='#') View
              td.even.pointer
                td.a-center
                  input.flat(type='checkbox', name='table_records')
                td 东京千禧三井花园饭店
                td 2天
                td.last
                  a(href='#') View
      .row
        .col-xs-12
          form#hotels-form.form-horizontal.form-label-left.input-mask
            .form-group
              label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-hotels-title')
                | 酒店名称
              .col-md-8.col-sm-8.col-xs-12
                input#package-hotels-title.form-control(type='text')
            .form-group
              label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-hotels-duration')
                | 入住天数
              .col-md-8.col-sm-8.col-xs-12
                input#package-hotels-duration.form-control(type='text')
    #step-4
      form#inclusion-exclusion-form.form-horizontal.form-label-left.input-mask
        .form-group
          label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-inclusion')
            | 包含
          .col-md-8.col-sm-8.col-xs-12
            input#package-inclusion.form-control.tags(type='text')
        .form-group
          label.control-label.col-md-3.col-sm-3.col-xs-12(for='package-exclusion')
            | 不包含
          .col-md-8.col-sm-8.col-xs-12
            input#package-exclusion.form-control.tags(type='text')

block js-external
  script(src='/dashboard/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js')
  script(src='/dashboard/vendors/jquery.tagsinput/src/jquery.tagsinput.js')
  script(src='/dashboard/vendors/dropzone/dist/min/dropzone.min.js')
  script(src='/dashboard/vendors/iCheck/icheck.min.js')
  script(src='/dashboard/javascripts/package.js')