section#footer
  footer
    .row.main-footer-sub
      .container.clear-padding
        .col-md-7.col-sm-7
          form
            label 订阅新闻
            .clearfix
              .col-md-9.col-sm-8.col-xs-6.clear-padding
                input.form-control(type='email', required, placeholder='请输入您的邮箱', name='email')
              .col-md-3.col-sm-4.col-xs-6.clear-padding
                button(type='submit')
                  i.fa.fa-paper-plane
                  |  订阅
        .col-md-5.col-sm-5
          .social-media.pull-right
            ul
              li
                a(href='#')
                  i.fa.fa-weibo
              li
                a(href='#')
                  i.fa.fa-weixin
    .main-footer.row
      .container.clear-padding
        .col-md-3.col-sm-6.about-box
          h3 一格旅行
          p 您身边的私人旅行定制师
          a(href='#') 了解更多
        .col-md-3.col-sm-3.links
          h4 热门线路
          ul
            li
              a(href='#') 东京一地5日游
            li
              a(href='#') 大阪京都5日游
            li
              a(href='#') 北海道7日游
        .clearfix.visible-sm-block
        .col-md-3.col-sm-6.links
          h4 我们的服务
          ul
            li
              a(href='#') 私人个性化定制
            li
              a(href='#') 经典自由行线路
            li
              a(href='#') 机票酒店预定
            li
              a(href='#') 签证代办
        .col-md-3.col-sm-6.contact-box
          h4 联系我们
          ul
            li
              i.fa.fa-home
              |  北京市西城区西便门外大街7号院
            li
              i.fa.fa-phone
              |  (+86) 189-1198-3180
            li
              i.fa.fa-envelope-o
              |  skystarstudio@163.com
        .clearfix
        .col-md-12.text-center.we-accept
          h4 付款方式
          ul
            li
              img(src='/front/images/card/card.jpg')
            li
              img(src='/front/images/card/card.jpg')
            li
              img(src='/front/images/card/card.jpg')

    .main-footer-nav.row
      .container.clear-padding
        .col-md-6.col-sm-6
          p Copyright &copy; 2016 SkyStar Studio. All Rights Reserved.
        .col-md-6.col-sm-6
          ul
            li
              a(href='#') 私人定制
            li
              a(href='#') 自由行线路
            li
              a(href='#') 服务
            li
              a(href='#') 关于我们
        .go-up
          a(href='#')
            i.fa.fa-arrow-up