@charset "UTF-8";
.td_date {
  width: 5%;
}

.td_title {
  width: 15%;
}

.td_detail {
  width: 35%;
}

.td_attraction {
  width: 10%;
}

.td_restaurant {
  width: 10%;
}

.td_thumbnail {
  width: 20%;
}

.schedule_thumbnail {
  width: 100%
}

.td_action {
  width: 5%;
}

.view-btn {

}